@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --color-red: #F03C42;
    --color-bg-blue: #222374;
    --color-bg-gray: #CCCCCC;
    --text-color-red: #F03C42;
    --color-bg-black: #000000;
    --text-color-white: #FFFFFF;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}

header {
    background-color: var(--color-red);
    height: 100px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.container-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-content h1 {
    font-size: 18px;
    color: var(--text-color-white);
    padding: 38px auto;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 30px;
    height: 30px;
    margin: 35px 10px;
    cursor: pointer;
}

.logo a {
    padding: 40px 0px;
    color: var(--text-color-white);
}

#Our-Space {
    background-color: var(--color-bg-blue);
    display: flex;
    align-items: center;
}

#Our-Space h1 {
    margin: 20px 0px 40px 0px;
    color: var(--text-color-white);
    font-size: 32px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-Space {
    background-color: var(--color-bg-gray);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px auto;
}

.card-Space h2 {
    font-size: 20px;
    color: var(--color-bg-black);
}

.card-Space p {
    font-size: 14px;
    color: var(--color-bg-black);
}